.index-contents
  .index-image
    .index-image-nav
      = image_tag "store-image.jpg"
      = image_tag "aube-hair.jpg"
      = image_tag "cafeein.jpg"
      = image_tag "hot-nik.jpeg"



  .index-all
    - @tweets.each do |tweet|
      .one-index-content
        .title-username
          %i.fas.fa-home.home-icon    
          .index-tweet-name
            = tweet.name
          %i.far.fa-user.user-icon
            =link_to tweet.user.nickname,user_path(tweet.user.id),class:"index-user-name"
          %i.far.fa-clipboard.show-icon
            = link_to '詳細', "/tweets/#{tweet.id}", method: :get,class:"contents-btn"
          - if user_signed_in? && current_user.id == tweet.user_id
            %i.far.fa-edit.edit-icon
              = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get,class:"contents-btn"
            %i.far.fa-trash-alt.delete-icon
              = link_to '削除', "/tweets/#{tweet.id}", method: :delete,class:"contents-btn"
        .video-image
          = video_tag tweet.video_url.to_s,loop: true, controls: true, width: 300,class:"mv" if tweet.video.present?
        .img-index
          = image_tag tweet.image.url,loop: true, controls: true, width: 300,class: "img" if tweet.image.present?
    
    .page_tag
      = paginate(@tweets)


    　
