.new-contents
  .one-new-tweets
    = form_for @tweet do |f|
      %h3 掲載する
      .new-form
        = f.label :店名,class:"new-text"
        = f.text_field :name,placeholder:"10文字以内",class:"new-link"
      .new-form
        = f.label :紹介文,class:"new-label"
        = f.text_field :text,placeholder:"20文字以内",class:"new-links"
      .new-form
        = f.label :動画,class:"new-label"
        = f.file_field :video
      .new-form
        = f.label :画像,class:"new-label"
        = f.file_field :image,class:"new-img"
      .new-category-form
        = f.label :カテゴリー,class:"category-label"
        %select.category-select-box{name: "category_id"}
          %option{value: "---"} ----
          %option{value: 1} 本屋
          %option{value: 2} ジム
          %option{value: 3} パチンコ屋
          %option{value: 4} カフェ
          %option{value: 5} ファミレス
          %option{value: 6} 雑貨屋
          %option{value: 7} 美容室
          %option{value: 8} 理容室
          %option{value: 9} ラーメン屋
          %option{value: 10} 焼肉屋
          %option{value: 11} 遊園地
          %option{value: 12} 洋服屋
          %option{value: 13} 居酒屋
          %option{value: 14} 病院
          %option{value: 15} 和菓子屋
          %option{value: 16} スーパー
          %option{value: 17} 家電量販店
      .actions-new
        = f.submit "SENT",class:"new-btn"
