.new-contents
  = form_for @tweet do |f|
    %h3 掲載する
    .new-form
      = f.label :店名
      = f.text_field :name
    .new-form
      = f.label :紹介文
      = f.text_field :text
    .new-form
      = f.label :動画
      = f.file_field :video
    .new-form
      = f.label :画像
      = f.file_field :image
    = f.submit "SENT",class:"btn_edit"
