.show-contents
  = simple_format(@tweet.text)
  = video_tag @tweet.video_url.to_s,loop: true, controls: true, width: 300, id: "mv" if @tweet.video.present?
  = image_tag @tweet.image.url,loop: true, controls: true, width: 300, id: "img" if @tweet.image.present?


  .show-post
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
       

        = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
        = link_to '削除', "/tweets/#{@tweet.id}", method: :delete

    %span.name
      %a{:href => "/users/#{@tweet.user.id}"}
        %span 投稿者
        = @tweet.user.nickname

  .comments-tweet
    - if current_user && @tweet.user_id != current_user.id
      = form_for [@tweet,@comment] do |f|
        %h3 ----コメントを書く----
        .comment_text
          = f.label :text
          = f.text_field :text
          = f.submit "SENT",class:"btn"
  
      - if @star.present?
        - @star.each do |star|
          .item-button-container__left__dislike
            =link_to tweet_star_path(@tweet.id,star.id), method: "DELETE"  do
              %i.far.fa-star
              %span 
                = @stars_count
      - else
        .item-button-container__left__like
          =link_to tweet_stars_path(@tweet.id), method: "POST"  do
            %i.far.fa-star
            %span
              = @stars_count
    -else
      .item-button-container__left__like
        %i.fas.fa-heart
          %span 
            = @stars_count
.comments
  %p ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      .one_comment
        .link_commenter
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
        .commenter_text
          = (comment.text).truncate(15,omission:"...")
          
        - if user_signed_in? && current_user.id == comment.user_id
          .link_form
            .delete_link
              = link_to "削除", "/tweets/#{params[:id]}/comments/#{comment.id}",method: :delete,class:"comments-btn"
            .edit_link
              = link_to "編集", "/tweets/#{params[:id]}/comments/#{comment.id}/edit",method: :get,class:"comments-btn"


