.show-tweets
  .show-tweet-name
    %i.fas.fa-home.tweet-show-icon
    .tweet_show-tweet-name
      = @tweet.name
    %i.far.fa-user.show-user-icon
      = link_to @tweet.user.nickname,"/users/#{@tweet.user.id}",class:"tweet-user_name"
    - if user_signed_in? && current_user.id == @tweet.user_id
      %i.far.fa-edit.show-edit-icon
        = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
      %i.far.fa-trash-alt.show-delete-icon
        = link_to '削除', "/tweets/#{@tweet.id}", method: :delete

  .show-tweet-text
    %i.fas.fa-walking.tweet-text-icon
    紹介文
    .lll
      = @tweet.text
  .video-img
    = video_tag @tweet.video_url.to_s,loop: true, controls: true, width: 500, id: "mv" if @tweet.video.present?
  .img-type
    = image_tag @tweet.image.url,loop: true, controls: true, width: 500, id: "img" if @tweet.image.present?
    
  .comments-tweet
    - if current_user && @tweet.user_id != current_user.id
      = form_for [@tweet,@comment] do |f|
        .comment-new
          .aaa
            コメントを書く
        
          .comment_text
            = f.label :コメント
            = f.text_field :text,placeholder:"20文字以内",class:"comment-field"
            = f.submit "SENT",class:"comment-btn"
      .star-counts
        - if @star.present?
          - @star.each do |star|
            .item-button-dislike
              =link_to tweet_star_path(@tweet.id,star.id), method: "DELETE"   do
                %i.fas.fa-heart.star-delete-icon
                  = @stars_count
        - else
          .item-button-click
            =link_to tweet_stars_path(@tweet.id), method: "POST"  do
              %i.fas.fa-heart.star-click-icon
                = @stars_count
    -else
      .item-button-like
        %i.fas.fa-heart.star-keep-icon
          = @stars_count
.comments
  .comment-contents
    コメント一覧
    %i.far.fa-comment-dots.comment-icon
  .comment-all
    - if @comments
      - @comments.each do |comment|
        .one-comment
          %i.far.fa-user.commenter-icon
            = link_to comment.user.nickname, "/users/#{comment.user_id}",class:"vvv"
          .commenter_text
            = comment.text
          - if user_signed_in? && current_user.id == comment.user_id
            .link_form
              %i.far.fa-trash-alt.commenter-delete-icon
                = link_to "削除", "/tweets/#{params[:id]}/comments/#{comment.id}",method: :delete,class:"comments-delete-btn"
              %i.far.fa-edit.commenter-edit-icon
                = link_to "編集", "/tweets/#{params[:id]}/comments/#{comment.id}/edit",method: :get,class:"comments-edit-btn"
    .comments-page           
      = paginate(@comments)       
