.show-contents
  .show-name
    .myuser-name
      %i.far.fa-user.show-user-icon
      = @nickname
      さんの投稿一覧
  .show-all
    - @tweets.each do |tweet|
      .one-show-content
        .title-show-name
          %i.fas.fa-home.show-home-icon
          = tweet.name
          - if user_signed_in? && current_user.id == tweet.user.id
            %i.far.fa-edit.show-edit-icon
              = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get,class:"show-btn"
            %i.far.fa-trash-alt.show-delete-icon
              = link_to '削除', "/tweets/#{tweet.id}", method: :delete,class:"show-btn"
            %i.far.fa-clipboard.show-second-icon
              = link_to "詳細", "/tweets/#{tweet.id}", method: :get,class:"show-btn"
            .show-text
              = tweet.text
        .user-show-page
          = video_tag tweet.video_url.to_s,loop: true, controls: true, width: 250, id: "mv" if tweet.video.present?
          = image_tag tweet.image.url,loop: true, controls: true, width: 250, id: "img" if tweet.image.present?
    .show-page_tag
      = paginate(@tweets)