.category-ndex-contents
  = form_tag("/categories/new",method: :get) do
    = check_box_tag :keyword,"1",false,class:"check_box"
    = label_tag "本屋"
    = check_box_tag :keyword,"2",false,class:"check_box"
    = label_tag "ジム"
    = check_box_tag :keyword,"3",false,class:"check_box"
    = label_tag "パチンコ屋"
    = check_box_tag :keyword,"4",false,class:"check_box"
    = label_tag "カフェ"
    = check_box_tag :keyword,"5",false,class:"check_box"
    = label_tag "ファミレス"
    = check_box_tag :keyword,"6",false,class:"check_box"
    = label_tag "雑貨屋"
    = check_box_tag :keyword,"7",false,class:"check_box"
    = label_tag "美容室"
    = check_box_tag :keyword,"8",false,class:"check_box"
    = label_tag "理容室"
    = check_box_tag :keyword,"9",false,class:"check_box"
    = label_tag "ラーメン屋"
    = check_box_tag :keyword,"10",false,class:"check_box"
    = label_tag "焼肉屋"
    = check_box_tag :keyword,"11",false,class:"check_box"
    = label_tag "遊園地"
    = check_box_tag :keyword,"12",false,class:"check_box"
    = label_tag "洋服屋"
    = check_box_tag :keyword,"13",false,class:"check_box"
    = label_tag "居酒屋"
    = check_box_tag :keyword,"14",false,class:"check_box"
    = label_tag "病院"
    = check_box_tag :keyword,"15",false,class:"check_box"
    = label_tag "和菓子屋"
    = check_box_tag :keyword,"16",false,class:"check_box"
    = label_tag "スーパー"
    = check_box_tag :keyword,"17",false,class:"check_box"
    = label_tag "家電量販店"


  =submit_tag 'Search',class:"saerch__bottun"